mixin inputField(options)
    -
        let inputField = ("input")
        if(Boolean(options.inputField) == true) {
            inputField += ` ${options.inputField}`
        } else {
            inputField = inputField
        }

        let inputClass = ("input__content")
        if(Boolean(options.inputClass) == true) {
            inputClass += ` ${options.inputClass}`
        } else {
            inputClass = inputClass
        }

    div(class = inputField)
        .input__description
            h3.main-title= options.title
            span(class = "input__subtitle")= options.subtitle
        input(name = options.name, class = inputClass, type = options.type, placeholder = options.placeholder, id = options.id)

mixin dropdownField(options)
    -
        let dropdownField = "input dropdown"
        if(Boolean(options.dropdownField) == true) {
            dropdownField += ` ${options.dropdownField}`
        } else {
            dropdownField = dropdownField
        }

        let inputClass = "input__content js-input__content"
        if(Boolean(options.inputClass) == true) {
            inputClass += ` ${options.inputClass}`
        } else {
            inputClass = inputClass
        }

        let firstChoice = "спальни"
            secondChoice = "кровати"
            thirdChoice = "ванные комнаты"
            disButton = false
            choiceBtn = "hidden-content"
            firstNum = 2
            secondNum = 2
            thirdNum = 0
            dropdownData = false
        if(options.dropdownAmenitiesData === true) {
            dropdownData = "amenities"
        } if(options.guest === true) {
            firstNum = 2
            secondNum = 1
            disButton = true
            firstChoice = "взрослые"
            secondChoice = "дети"
            thirdChoice = "младенцы"
            choiceBtn = "choice-button"
        } if(options.dropdownGuestData === true) {
            disButton = true
            firstChoice = "взрослые"
            secondChoice = "дети"
            thirdChoice = "младенцы"
            choiceBtn = "choice-button"
            dropdownData = "guest"
        } if(options.zeroNum === true) {
            firstNum = 0
            secondNum = 0
            thirdNum = 0
        }

        let panel = "hidden-content js-dropdown-panel"
        if(options.panel == true) {
            panel = "dropdown-panel js-dropdown-panel"
            inputClass += " dropdown-panel-input"
        }

    div(class = dropdownField, data-dropdown = dropdownData)
        .input__description
            h3.main-title= options.title
            span(class = "input__subtitle")= options.subtitle
        div(class = inputClass)
            div(class = "dropdown__field")
                span(class = "js-input-text", id = options.id)= options.text
                div(class = "arrow")
                    div(class = "arrow__list")
        div(class = `${panel} ${options.inputClass}`)
            .dropdown-panel__wrapper
                div(class = "dropdown-panel__content counter")
                    div
                        span(class = "main-title")= firstChoice
                    div(class = "counter__content js-counter__content")
                        button(class = "counter__min js-counter__min bedroom-min", disabled = disButton) -
                        span(class = "counter__num js-counter__num main-title")= firstNum
                        button(class = "counter__max js-counter__max bedroom-max") +
                div(class = "dropdown-panel__content counter")
                    div
                        span(class = "main-title")= secondChoice
                    div(class = "counter__content js-counter__content")
                        button(class = "counter__min js-counter__min bed-min", disabled = disButton) -
                        span(class = "counter__num js-counter__num main-title")= secondNum
                        button(class = "counter__max js-counter__max bed-max") +
                div(class = "dropdown-panel__content counter")
                    div
                        span(class = "main-title")= thirdChoice
                    div(class = "counter__content js-counter__content")
                        button(class = "counter__min js-counter__min bathroom-min", disabled = true) -
                        span(class = "counter__num js-counter__num main-title")= thirdNum
                        button(class = "counter__max js-counter__max bathroom-max") +
                div(class = choiceBtn)
                    div
                        button(class = "choice-button__decline hidden-content") очистить
                    div
                        button(class = "choice-button__accept") применить

mixin dropdownDateField(options)
    -
        let dropdownField = ("input dropdown")
        if(Boolean(options.dropdownField) == true) {
            dropdownField += ` ${options.dropdownField}`
        } else {
            dropdownField = dropdownField
        }

        let inputClass = ("input__content")
        if(Boolean(options.inputClass) == true) {
            inputClass += ` ${options.inputClass}`
        } else {
            inputClass = inputClass
        }

    div(class = dropdownField)
        .input__description
            h3.main-title= options.title
            span(class = "input__subtitle")= options.subtitle
        div(class = inputClass)
            div(class = "dropdown__field")
                div(name = options.name, class = options.dropdownClass, id = options.id)= options.text
                div(class = "arrow")
                    div(class = "arrow__list")

mixin subField(options)
    -
        let inputField = "input"
        if(Boolean(options.inputField) == true) {
            inputField += ` ${options.inputField}`
        } else {
            inputField = inputField
        }

        let inputClass = "input__content"
        if(Boolean(options.inputClass) == true) {
            inputClass += ` ${options.inputClass}`
        } else {
            inputClass = inputClass
        }

        let arrowSub = "arrow__subscribe"
        if(options.isPurple == true) {
            arrowSub += ` arrow__subscribe_purple`
        }

    div(class = inputField)
        .input__description
            h3.main-title= options.title
            span(class = "input__subtitle")= options.subtitle
        div(class = "sub-wrapper input__content_middle")
            input(name = options.name, class = inputClass, type = options.type, placeholder = options.placeholder, id = options.id)
            div(class = "arrow sub-wrapper__arrow")
                div(class = arrowSub)
