mixin checkItem(settings)
    -
        let checkboxField = "checkbox__field"
            title = "checkbox__input-title"
            subtitle = "checkbox__input-subtitle hidden-content"
        if(settings.hide === true) {
            checkboxField = "hidden-content"
        }
        if(settings.text2 == "") {
            secondString = "hidden-content"
        }
        if(!!settings.subtitle === true) {
            subtitle = "checkbox__input-subtitle "
            title += " checkbox__input-title-rich"
            if(!!settings.subClass === true) {
                subtitle += settings.subClass
            }
        }

    div(class = checkboxField)
        input(type = "checkbox", id = settings.id, class = "checkbox__input", checked = settings.checked)
        label(for = settings.id, class = "checkbox__content")
            div.checkbox__descr
                div(class = title)
                    p= settings.text
                    p(class = secondString)= settings.text2
                div(class = subtitle)
                    p= settings.subtitle

mixin checkButton(options)
    -
        let isChecked = false
        if(options.isChecked == true) {
            isChecked = true
        }

        let checkField = ("checkbox")
        if(Boolean(options.checkField) == true) {
            checkField += ` ${options.checkField}`
        } else {
            checkField = checkField
        }

        let smoking = ""
            pets = ""
            guest = ""
            dataCheckbox = false
        dataCheckbox = (options.data === true) ? true : false
        if(dataCheckbox === true) {
            smoking = "smoking"
            pets = "pets"
            guest = "guest"
        }

    div(class = checkField, data-checkbox = dataCheckbox)
        div(class = "checkbox__title")
            h3(class = "main-title")= options.title
        .checkbox__wrapper
            +checkItem({id: smoking, text: "Можно курить"})
            +checkItem({id: pets, text: "Можно с питомцами", checked: isChecked})
            +checkItem({id: guest, text: "Можно пригласить гостей", text2: " (до 10 человек)", checked: isChecked})

mixin richCheckButton(options)
    -
        let checkField = ("checkbox")
        if(Boolean(options.checkField) == true) {
            checkField += ` ${options.checkField}`
        } else {
            checkField = checkField
        }

        let hallway = ""
            handicapped = ""
            dataCheckbox = false
        dataCheckbox = (options.data === true) ? true : false
        if(dataCheckbox === true) {
            hallway = "hallway"
            handicapped = "handicapped"
        }
    
    div(class = checkField, data-checkbox-rich = dataCheckbox)
        div(class = "checkbox__title")
            h3(class = "main-title")= options.title
        .checkbox__wrapper
            +checkItem({id: hallway, text: "Широкий коридор", subtitle: "Ширина коридоров в номере не менее 91 см.", subClass: "checkbox__input-subtitle_first"})
            +checkItem({id: handicapped, text: "Помощник для инвалидов", subtitle: "На 1 этаже вас встретит специалист  и проводит до номера."})

mixin expandableCheckButton(options)
    -
        let isChecked = false
        if(options.isChecked == true) {
            isChecked = true
        }

        let checkField = ("checkbox")
        if(Boolean(options.checkField) == true) {
            checkField += ` ${options.checkField}`
        } else {
            checkField = checkField
        }
        
        let checkboxPanel = "checkbox__wrapper hidden-content"
            dataPanel = "close"
            breakfast = ""
            table = ""
            childSeat = ""
            babyBed = ""
            tv = ""
            shampoo = ""
        if(options.panel === true) {
            checkboxPanel = "checkbox__wrapper"
        } if(options.dataPanel === true) {
            dataPanel = "open"
            breakfast = "breakfast"
            table = "table"
            childSeat = "children-seat"
            babyBed = "baby-bed"
            tv = "TV"
            shampoo = "shampoo"
        }

    div(class = checkField, data-checkbox-panel = dataPanel)
        div(class = "checkbox__title")
            h3(class = "main-title")= options.title
            div(class = "arrow")
                div(class = "arrow__list")
        div(class = checkboxPanel)
            +checkItem({id: breakfast, text: "Завтрак"})
            +checkItem({id: table, text: "Письменный стол", checked: isChecked})
            +checkItem({id: childSeat, text: "Стул для кормления", checked: isChecked})
            +checkItem({id: babyBed, text: "Кроватка", checked: isChecked})
            +checkItem({id: tv, text: "Телевизор"})
            +checkItem({id: shampoo, text: "Шампунь"})

mixin radioButton(options)
    -
        let isChecked = false
        if(options.isChecked == true) {
            isChecked = true
        }

        let radioField = ("radio")
        if(Boolean(options.radioField) == true) {
            radioField += ` ${options.radioField}`
        } else {
            radioField = radioField
        }

        let radioTitle = ("radio__title main-title")
        if(options.hideTitle == true) {
            radioTitle = ("hidden-content")
        }

    div(class = radioField)
        h3(class = radioTitle)= options.title
        .radio__wrapper
            input(type = "radio", name = "sex",id = "man", class = "radio__input", checked = isChecked)
            label(for = "man", class = "radio__descr")
                span Мужчина
            
            input(type = "radio", name = "sex",id = "woman", class = "radio__input")
            label(for = "woman", class = "radio__descr")
                span Женщина

mixin switchButton(options)
    -
        let switchTitle = ("switch__title main-title")
        if(options.hideTitle == true) {
            switchTitle = ("hidden-content")
        }

        let switchField = ("switch")
        if(Boolean(options.switchField) == true) {
            switchField += ` ${options.switchField}`
        } else {
            switchField = switchField
        }

        let switchButton = ("switch__btn js-switch__btn")
        if(options.switchButtonActive == true) {
            switchButton += " switch__btn_active"
        } else {
            switchButton = ("switch__btn js-switch__btn")
        }

    div(class = switchField)
        h3(class = switchTitle) toggle
        div(class = "switch__wrapper js-switch__wrapper")
            div(class = switchButton)
            span(class = "switch__descr js-switch__descr") Получать спецпредложения

mixin likeButton(options)
    -
        let like = ("like js-like")
        let likeBtn = ("like__btn js-like__btn")
        let counter = ("like__counter js-like__counter")

        if(options.isLiked == true) {
            likeBtn += " like__btn_active"
            like += " like_active"
            counter += " like__counter_active"
        } else {
            likeBtn = ("like__btn js-like__btn")
        }

    div(class = like)
        div(class = likeBtn)
        span(class = counter)= options.num

mixin rateButton(rate)
    -
        let star4 = ""
        let star5 = ""

        if(rate == 4) {
            star4 = ("rating__star_active")
        } if(rate == 5) {
            star4 = ("rating__star_active")
            star5 = ("rating__star_active")
        }

    .rating
        span(class = `rating__star rating__star_active`)
        span(class = `rating__star rating__star_active`)
        span(class = `rating__star rating__star_active`)
        span(class = `rating__star ${star4}`)
        span(class = `rating__star ${star5}`)