mixin checkButton(options)
    -
        let isChecked = false
        if(options.isChecked == true) {
            isChecked = true
        }

        let checkField = ("checkbox")
        if(Boolean(options.checkField) == true) {
            checkField += ` ${options.checkField}`
        } else {
            checkField = checkField
        }

    div(class = checkField)
        h3(class = "checkbox__title main-title")= options.title
        .checkbox__wrapper
            input(type = "checkbox", id = "smoking", class = "checkbox__input")
            label(for = "smoking", class = "checkbox__descr")
                span Можно курить

            input(type = "checkbox", id = "pets", class = "checkbox__input", checked = isChecked)
            label(for = "pets", class = "checkbox__descr")
                span Можно с питомцами

            input(type = "checkbox", id = "frends", class = "checkbox__input", checked = isChecked)
            label(for = "frends", class = "checkbox__descr")
                span  
                    |Можно пригласить гостей
                    br
                    |(до 10 человек)

mixin radioButton(options)
    -
        let isChecked = false
        if(options.isChecked == true) {
            isChecked = true
        }

        let radioField = ("radio")
        if(Boolean(options.radioField) == true) {
            radioField += ` ${options.radioField}`
        } else {
            radioField = radioField
        }

        let radioTitle = ("radio__title main-title")
        if(options.hideTitle == true) {
            radioTitle = ("hidden-content")
        }

    div(class = radioField)
        h3(class = radioTitle)= options.title
        .radio__wrapper
            input(type = "radio", name = "sex",id = "man", class = "radio__input", checked = isChecked)
            label(for = "man", class = "radio__descr")
                span Мужчина
            
            input(type = "radio", name = "sex",id = "woman", class = "radio__input")
            label(for = "woman", class = "radio__descr")
                span Женщина

mixin switchButton(options)
    -
        let switchTitle = ("switch__title main-title")
        if(options.hideTitle == true) {
            switchTitle = ("hidden-content")
        }

        let switchField = ("switch")
        if(Boolean(options.switchField) == true) {
            switchField += ` ${options.switchField}`
        } else {
            switchField = switchField
        }

        let switchButton = ("switch__btn js-switch__btn")
        if(options.switchButtonActive == true) {
            switchButton += " switch__btn_active"
        } else {
            switchButton = ("switch__btn js-switch__btn")
        }

    div(class = switchField)
        h3(class = switchTitle) toggle
        div(class = "switch__wrapper js-switch__wrapper")
            div(class = switchButton)
            span(class = "switch__descr js-switch__descr") Получать спецпредложения

mixin likeButton(options)
    -
        let like = ("like js-like")
        let likeBtn = ("like__btn js-like__btn")
        let counter = ("like__counter js-like__counter")

        if(options.isLiked == true) {
            likeBtn += " like__btn_active"
            like += " like_active"
            counter += " like__counter_active"
        } else {
            likeBtn = ("like__btn js-like__btn")
        }

    div(class = like)
        div(class = likeBtn)
        span(class = counter)

mixin rateButton(options)
    .rating
        input(type = "radio", id = "star-1", class = "rating__content", name = "star", value = "5")
        label(for = "star-1", class = "rating__star") 
        input(type = "radio", id = "star-2", class = "rating__star", name = "star", value = "4")
        label(for = "star-2", class = "rating__star") 
        input(type = "radio", id = "star-3", class = "rating__star", name = "star", value = "3")
        label(for = "star-3", class = "rating__star") 
        input(type = "radio", id = "star-4", class = "rating__star", name = "star", value = "2")
        label(for = "star-4", class = "rating__star") 
        input(type = "radio", id = "star-5", class = "rating__star", name = "star", value = "1")
        label(for = "star-5", class = "rating__star") 